# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# venv
.venv/
venv/
env/

# macOS
.DS_Store

# Build artifacts
build/
dist/
*.spec

# Logs
logs/
run.log

# Data outputs & cache (giữ template input)
data/comments_out_*.xlsx
data/forms_cache.json

# Tools caches
.pytest_cache/
.mypy_cache/
.cache/

# IDE
.vscode/
.idea/
